<?xml version="1.0"?>
<launch>
    <include file="$(find darknet_ros)/launch/yolo_v3_tiny.launch">
        <!--<arg name="output" value="log"/>-->
    </include>
    <include file="$(find limo_base)/launch/limo_base.launch">
        <arg name="output" value="log"/>
    </include>
    <node name="yolo_input_test" pkg="gm_movectrl" type="yolo_input_test.py" output="screen"/>
</launch>